html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  background: #65d4f0;
  background: radial-gradient(#c5e3ff, #65d4f0);
}

/* Center vertically and horizontally */
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

/* Click button for answer */
.card {
  padding: 1em;
  color: #fff;
  background: #5e8fbd;
  border: 0;
  /* text-transform: uppercase; */
  /* text-transform: capitalize; */
  transition: background-color 50ms linear;
  border-radius: 10px;
}
.card:hover {
  background: #7eafe0;
}
.card:active {
  background: #1a7eb8;
}
.answer {
  padding: 1em;
  border: 0;
  text-transform: uppercase; 
  border-radius: 10px;
  cursor: default;
  background: transparent;
  color: #247084;
  font-size: 4em;
}

/* Countdown to next question */
.countdown {
  position: absolute;
  top: -14px;
  right: 0;
  margin: 20px;
  text-align: center;
  color: #286185;
  font-size: 45px;
  font-weight: bold;
}

/* Time-frames for tickets and cases */
.timeframe {
  position: absolute;
  bottom: 15%;
  width: 100%;
  padding: 0 1em;
  text-align: center;
  
/*  text-transform: capitalize; */
  cursor: default;
  color: #247084;
  font-size: 1.7em;
}

/* Right Wrong Answers */
.correct {
  background: #65f0b8;
}
.wrong {
  background: #f294bb;
}
body.correct .answer {
  color: #1a7953;
}
body.wrong .answer {
  color: #942e58;
}
body.correct .countdown {
  color: #1b7a54;
}
body.wrong .countdown {
  color: #7d455c;
}

/* Mobile */
@media (max-width: 900px) {
  .timeframe {
    bottom: 5%;
    font-size: 2em;
  }
}